<div *ngIf="currentAllo">
  <div class="dropdown">
    <button class="btn my-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
      {{ currentAllo.name }}
    </button>
    <br><br/>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <div *ngFor="let allo of allos | async">
        <a class="dropdown-item pointer" (click)="alloChange(allo.key)">{{ allo.name }}</a>
      </div>
    </div>
  </div>

  <div class="col-sm-6 offset-sm-3 col-12">
    <div *ngIf="errorMessage">
      <div class="alert alert-danger" role="alert">
        {{errorMessage}}
      </div>
    </div>
    <form (ngSubmit)="register(orderForm.value)" #orderForm="ngForm">
      <div *ngIf="currentAllo.isCountable === true" class="form-group">
        <label class="text-white" for="quantity">Quantité</label>
        <input name="quantity" type="number" class="form-control" id="quantity" required ngModel>
      </div>
      <div class="form-group">
        <label class="text-white" for="owner">Nom - Prenom</label>
        <input name="owner" type="text" class="form-control" id="owner" required ngModel>
      </div>
      <div class="form-group">
        <label class="text-white" for="comment">Commentaire</label>
        <input name="comment" type="text" class="form-control" id="comment" required ngModel>
      </div>
      <div class="col-12 text-center">
        <button class="btn my-primary">Valider</button>
      </div>
    </form>
  </div>

</div>

