<div class="col-md-12 margin-top-30">

<div class="row">
    <h2 class="color-white">Prez</h2>
  </div> 

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Alice.png">
          <p class="titre">Alice Dur'as'ell Gauthier</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <h2 class="color-white">Vice-Prez</h2>
    </div> 
  
    <div class="row">
      <div class="col-md-3 col-6 margin-top-20">
        <div class="member">
          <div class="content">
            <img class="picture" src="assets/profile_pic/Moineau2.png">
            <p class="titre">Romain Dur'as'ell Moineau</p>
          </div>
        </div>
      </div>
        <div class="col-md-3 col-6 margin-top-20">
            <div class="member">
              <div class="content">
                <img class="picture" src="assets/profile_pic/Sarah.png">
                <p class="titre">Sarah Dur'as'ell Charles</p>
              </div>
            </div>
          </div>
    </div>

    <div class="row">
        <h2 class="color-white">Trez</h2>
      </div> 
    
      <div class="row">
        <div class="col-md-3 col-6 margin-top-20">
          <div class="member">
            <div class="content">
              <img class="picture" src="assets/profile_pic/PaulV3.png">
              <p class="titre">Paul Dur'as'ell Vétillard</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
          <h2 class="color-white">Vice-Trez</h2>
        </div> 

      <div class="row">
              <div class="col-md-3 col-6 margin-top-20">
          <div class="member">
            <div class="content">
              <img class="picture" src="assets/profile_pic/Motte2.png">
              <p class="titre">Antoine Dur'as'ell Motte</p>
            </div>
          </div>
        </div>
      </div>


  <div class="row">
      <h2 class="color-white">Secretaire</h2>
    </div> 
  
    <div class="row">
      <div class="col-md-3 col-6 margin-top-20">
        <div class="member">
          <div class="content">
            <img class="picture" src="assets/profile_pic/Aurélia2.png">
            <p class="titre">Aurélia Dur'as'ell Rigby</p>
          </div>
        </div>
      </div>
    </div>
  
  <div class="row">
    <h2 class="color-white">Pôle Com</h2>
  </div> 

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Seb.png">
          <p class="titre">Sébastien Dur'as'ell Btr</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
        <div class="member">
          <div class="content">
            <img class="picture" src="assets/profile_pic/Léop2.png">
            <p class="titre">Léopoldine Dur'as'ell Michon</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 margin-top-20">
          <div class="member">
            <div class="content">
              <img class="picture" src="assets/profile_pic/Nico.png">
              <p class="titre">Nicolas Dur'as'ell Zea</p>
            </div>
          </div>
        </div>
  </div>

  <div class="row">
      <h2 class="color-white">Pôle Event</h2>
  </div> 

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Alexandre.png">
          <p class="titre">Alexandre Dur'as'ell Charrette</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Arthur.png">
          <p class="titre">Arthur Dur'as'ell Guillotel</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Gauthier.png">
          <p class="titre">Gauthier Dur'as'ell Levin</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
        <div class="member">
          <div class="content">
            <img class="picture" src="assets/profile_pic/Paul.png">
            <p class="titre">Paul Dur'as'ell Aupetit</p>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <h2 class="color-white">Pôle Sponso</h2>
  </div> 

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Anouk.png">
          <p class="titre">Anouk Dur'as'ell Jkbw</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
        <div class="member">
          <div class="content">
            <img class="picture" src="assets/profile_pic/Math.png">
            <p class="titre">Mathieu Dur'as'ell Hégron</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-6 margin-top-20">
          <div class="member">
            <div class="content">
              <img class="picture" src="assets/profile_pic/Pierre7.png">
              <p class="titre">Pierre Dur'as'ell Boidé</p>
            </div>
          </div>
        </div>
  </div>

  <div class="row">
      <h2 class="color-white">Pôle Fusion</h2>
  </div> 

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Hélène.png">
          <p class="titre">Hélène Dur'as'ell De Montaignac</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
        <div class="member">
          <div class="content">
            <img class="picture" src="assets/profile_pic/Tim.png">
          <p class="titre">Timothy Dur'as'ell Ferrand</p>
          </div>
        </div>
      </div>
  </div>

  <div class="row">
      <h2 class="color-white">Pôle Choucas</h2>
  </div> 

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Marguaux.png">
          <p class="titre">Margaux Dur'as'ell Grand</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
        <div class="member">
          <div class="content">
            <img class="picture" src="assets/profile_pic/Max.png">
            <p class="titre">Maxime Dur'as'ell Pinson</p>
          </div>
        </div>
      </div>
  </div>



</div>