<div class="col-md-12 margin-top-30">

  <div class="row">
    <h2 class="color-white">Prez</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Alice.png">
          <p class="titre">Alice Gauthier</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="color-white">Vice-Prez</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Moineau2.png">
          <p class="titre">Romain Moineau</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Sarah.png">
          <p class="titre">Sarah Charles</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="color-white">Trez</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/PaulV3.png">
          <p class="titre">Paul Vétillard</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="color-white">Vice-Trez</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Motte2.png">
          <p class="titre">Antoine Motte</p>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <h2 class="color-white">Secrétaire</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Aurélia2.png">
          <p class="titre">Aurélia Rigby</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="color-white">Pôle Com</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Seb.png">
          <p class="titre">Sébastien Bouttier</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Léop2.png">
          <p class="titre">Léopoldine Michon</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Nico.png">
          <p class="titre">Nicolas Zea</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="color-white">Pôle Event</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Alexandre.png">
          <p class="titre">Alexandre Charrette</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Arthur.png">
          <p class="titre">Arthur Guillotel</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Gauthier.png">
          <p class="titre">Gauthier Levin</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Paul.png">
          <p class="titre">Paul Aupetit</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="color-white">Pôle Sponso</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Anouk.png">
          <p class="titre">Anouk Jkbw</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Math.png">
          <p class="titre">Mathieu Hégron</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Pierre7.png">
          <p class="titre">Pierre Boidé</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="color-white">Pôle Fusion</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Hélène.png">
          <p class="titre">Hélène De Montaignac</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Tim.png">
          <p class="titre">Timothy Ferrand</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <h2 class="color-white">Pôle Choucas</h2>
  </div>

  <div class="row">
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Marguaux.png">
          <p class="titre">Margaux Grand</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-6 margin-top-20">
      <div class="member">
        <div class="content">
          <img class="picture" src="assets/profile_pic/Max.png">
          <p class="titre">Maxime Pinson</p>
        </div>
      </div>
    </div>
  </div>



</div>