<div class="col-md-12 margin-top-30 margin-bottom-50">
  <div class="row">

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/sub.jpg">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/inter.jpg">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/decath.png">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/loue.png">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/melpomen.jpg">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/wei-and-go.png">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/cali.jpg">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/paco.png">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/babolat.jpg">
        </div>
      </div>
    </div>

    <div class="col-md-3 col-6 margin-top-20">
      <div class="content">
        <div class="white">
          <img class="picture" src="assets/partners/envol.jpg">
        </div>
      </div>
    </div>

  </div>
</div>