<img class="team" src="assets/team.jpg">

<div class="col-md-12 margin-top-50 margin-bottom-50">

    <div class="row text-center">
        <div class="col-12">
            <h2 class="color-white">ALLOS</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/cards/crepes.png">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/cards/coach.jpg">
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/cards/vaisselle.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center margin-top-50">
        <div class="col-12">
            <button routerLink="/allo" class="btn my-primary">Découvrir tous nos allos</button>
        </div>
    </div>

    <div class="row text-center margin-top-50">
        <div class="col-12">
            <h2 class="color-white">L' ÉQUIPE</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/profile_pic/Alice.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/profile_pic/Moineau2.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/profile_pic/Sarah.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center margin-top-50">
        <div class="col-12">
            <button routerLink="/members" class="btn my-primary">Découvrir l'équipe</button>
        </div>
    </div>

    <div class="row text-center margin-top-50">
        <div class="col-12">
            <h2 class="color-white">NOS PARTENAIRES</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/partners/sub.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/partners/inter.jpg">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 margin-top-20">
            <div class="allo">
                <div class="content">
                    <div>
                        <img class="picture" src="assets/partners/decath.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center margin-top-50">
        <div class="col-12">
            <button routerLink="/partners" class="btn my-primary">Découvrir tous nos partenaires</button>
        </div>
    </div>

</div>